<div ng-controller="secondController" class="addInfo">
	<form action="#">
		<h3>Asthetics</h3>
		<label for="title">Title</label>
		<input type="text" name="title" id="title" placeholder="title">

		<label for="webLink">Web Link</label>
		<input type="text" name="webLink" id="webLink" placeholder="http://www.wiki.com">

		<label for="description">Description</label>
		<textarea type="text-area" name="code" id="description" placeholder="description of the rubric"></textarea>

		<input type="submit" value="Add">
	</form>

</div>