<div ng-controller="coursesController" class="mainDefaultBody">
    <div class="rubricSearch">
        <button ng-click="navBack()">back</button>
        <h1>Create Course</h1>
        <label>Course Name Here:</label>
        <input type="text" ng-model="courseTitle" required/>
        <label>Course Acronym</label>
        <input type="text" ng-model="courseAcronym" required/>
        <label>Course Description</label>
        <input type="text" ng-model="courseDescription" required/>
        <label>Course Degree</label>
        <select ng-model="courseDegree">
            <option name="degree" ng-repeat="x in degreeView">{[{x.title}]}</option>
        </select>
        <button ng-click="courseAdd()"> Create Course</button>
    </div>
    <div class="wrapper">
            <div ng-repeat="d in courseView">
                {[{d.title}]}
                <p>{[{d.acronym}]}</p>
                <p>{[{d.description}]}</p>
                <p><button ng-click="courseDelete(d._id)">Delete Course</button></p>
                <a href="#/edit/course/{[{d._id}]}">Edit Course</a>
            </div>
        </div>
</div>