<div ng-controller="dashboardController" class="mainDefaultBody">
    <div id="rubricSearch">
        <h1>Create Degree</h1>
        <label>Degree Name Here:</label>
        <input type="text" ng-model="degreeTitle" />
        <label>Degree Acronym</label>
        <input type="text" ng-model="degreeAcronym" />
        <button ng-click="degreeAdd()"> Create Degree</button>
    </div>
    <div id="wrapper">
        <div class="container">
        <ul>
            <li class="pin" ng-repeat="x in degreeView | filter:{type:degree}">
                <ul>
                    <li>id: {[{x._id}]}</li>
                    <li>dname: {[{x.title}]}</li>
                    <li>acronym: {[{x.acronym}]}</li>
                    <li><button ng-click="degreeDelete(x._id)">Delete Degree</button><a href="#/edit/degree/{[{x._id}]}">Edit Degree</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</div>
