<!DOCTYPE html>
<html lang="en">
		<head>
		<meta charset="UTF-8">
		<title>Full Sail University - Web Design and Development Final Project Showcase</title>
	</head>
	<body>

		{{{ body }}}

	</body>
</html>