<!DOCTYPE html>
<html lang="en">
		<head>
		<meta charset="UTF-8">
		<title>Full Sail University - Web Design and Development Final Project Showcase</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/base.css" />
	</head>
	<body>

		{{{ body }}}

	</body>
</html>