<!DOCTYPE html>
<html lang="en">
		<head>
		<meta charset="UTF-8">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
			<script src="js/build/main.js" type="text/javascript"></script>
			<title>{{ seoPageTitle }}</title>
    		<link rel="stylesheet" href="css/build/main.css">
	</head>
	<body>
    <body ng-app="ProRubric">
    <div ng-controller="mainController">

		<nav>
			<a href="#"><img src="http://i.imgur.com/awDgrl8.png" id="logo"></a>
			<a href=""><img src="http://i.imgur.com/O2PDYmn.png">Search</a>
			<a href="" ><img src="#">Degree</a>
			<a href="" ><img src="#">Class</a>
		</nav>

		<div id="elBody">

			{{{ body }}}

		</div>


    </div>
	</body>
</html>