<!DOCTYPE html>
<html lang="en">
		<head>
		<meta charset="UTF-8">
		<title>{{ seoPageTitle }}</title>
		
    <link rel="stylesheet" href="css/build/main.css">
	</head>
	<body>

		{{{ body }}}

	</body>
</html>