<div ng-controller="degreeController" class="mainDefaultBody">
    <div id="rubricSearch">
        <tags-input ng-model="tags"></tags-input>

        <h1> Create Degree</h1>
        <label>Degree Name Here:</label>
        <input type="text" ng-model="degreeTitle" />
        <label>Degree Acronym</label>
        <input type="text" ng-model="degreeAcronym" />
        <button ng-click="degreeAdd()"> Create Rubric</button>
    </div>
    <div id="wrapper">
        <div class="columns">
        </div>
    </div>
</div>