<div class="addRubric">
		<div>
			<h1>Abriviated title</h1>
			<h2>Full title here</h2>
		</div>
		
		<label for="courseTitle">RubricTitle</label>
		<input type="text" data-ng-model="" placeholder="title">

		<label for="courseCode">Section Titles</label>
		<input type="text" name="code" id="courseCode" placeholder="Section Title">

        <label for="lineItemCode">Enter Section Info</label>
        <input type="text" name="lineItem" id="lineItemCode" placeholder="Enter Section Info">

        <label for="courseCode">Grade Options</label>
		<input type="text" name="code" id="courseCode" placeholder="Grade Options(100, 75, 50, 25, 0)">

		<input ng-click="fetchAll()" type="submit" value="Add">

        <input type="button" value="Edit Existing Rubric" value="add">


</div>