<div class="audit">
	<h1>{[{ rubric.title }]}</h1>
	<p>TEST BUTTON: <button ng-click="actionOutput()">
			 			Output Audit
			 		</button></p>
	<p>Progress Bar {[{ rubric.auditProgress }]}% ({[{ rubric.totalLineItems }]} Total Items)</p>
	<h2>Audit Grade: {[{ rubric.auditGrade * 100 }]}% </h2>
	<section data-ng-repeat="section in rubric.sections">
		<div> {[{ section.title }]} </div>
		<dl data-ng-repeat="lineItem in section.lineItems">
			<aside>
			 	<ol>
			 		<li data-ng-repeat="tier in rubric.gradeTiers">
			 		<button data-ng-click="actionGrade(lineItem._id, tier)">
			 			{[{ tier * 100 }]}
			 		</button>
			 		</li>
			 	</ol>
			 	<textarea data-ng-model="lineItem.comment"></textarea>
			 </aside>
			<dt>{[{ lineItem.title }]}</dt>
			<dd>{[{ lineItem.content }]}</dd>
		</dl>
	</section>
	
</div>