<div ng-controller="mainController">

<div id="rubricSearch">
    <h1> Create Degree</h1>
    <label>Degree Name Here:</label>
    <input type="text" ng-model="degreeTitle" placeholder=""/>
    
    <label>Degree Acronym</label>
    <input type="text" ng-model="degreeAcronym" placeholder=""/>

    <button ng-click="degreeAdd()"> Create Rubric</button>
</div>

<!--******************** Pintrest like coloumns ********************-->
<div id="wrapper">
	<div id="columns">
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Deployment of Web Applications </h2>

			<button type="button" class="rubricbuttons"> Ice Breakers </button>
			<button type="button" class="rubricbuttons"> Lab 2 </button>
			<button type="button" class="rubricbuttons"> Deployment 1 </button>
			<button type="button" class="rubricbuttons"> Final Project 1 </button>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Principles and Production </h2>
			<button type="button" class="rubricbuttons"> Ice Breakers </button>
			<button type="button" class="rubricbuttons"> Lab 2 </button>
			<button type="button" class="rubricbuttons"> Deployment 1 </button>
			<button type="button" class="rubricbuttons"> Final Project 1 </button>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>	
		
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Advanced Topics in Web </h2>

			<button type="button" class="rubricbuttons"> Ice Breakers </button>
			<button type="button" class="rubricbuttons"> Lab 2 </button>
			<button type="button" class="rubricbuttons"> Deployment 1 </button>
			<button type="button" class="rubricbuttons"> Final Project 1 </button>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>

			<button type="button" class="rubricbuttons"> Ice Breakers </button>
			<button type="button" class="rubricbuttons"> Lab 2 </button>
			<button type="button" class="rubricbuttons"> Deployment 1 </button>
			<button type="button" class="rubricbuttons"> Final Project 1 </button>

		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>	
		
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Streaming Media Servers </h2>

			<button type="button" class="rubricbuttons"> Ice Breakers </button>
			<button type="button" class="rubricbuttons"> Lab 2 </button>
			<button type="button" class="rubricbuttons"> Deployment 1 </button>
			<button type="button" class="rubricbuttons"> Final Project 1 </button>

		</div>
	
		<div class="pin">
			<img src="http://placehold.it/140x100">

			<h2 class="classname"> Web Design and Development </h2>
			<h4 class="rubrics"> 4 Rubrics </h4>
		</div>
	</div>

<!--******************** Pintrest like coloumns END ********************-->


</div>
