	<div class="degree">
		<h1> Create Degree</h1>
		<label>Degree Name Here:</label>
		<input type="text" ng-model="degreeTitle" placeholder=""/>
		<label>Degree Acronym</label>
        <input type="text" ng-model="degreeAcronym" placeholder=""/>
        <button ng-click="degreeAdd()"> Create Rubric </button>
	</div>

    <div ng-repeat="value in degreeData">
        {[{value}]}
    </div>
