<div id="view">
    {[{degreeData.data}]}
    {[{5+5}]}
</div>
<div class="degree">
        <ul><li>dsfsdf</li></ul>
	    <h1> Create Degree</h1>
		<label>Degree Name Here:</label>
		<input type="text" ng-model="degreeTitle" placeholder=""/>
		<label>Degree Acronym</label>
        <input type="text" ng-model="degreeAcronym" placeholder=""/>
        <button ng-click="degreeAdd()"> Create Rubric </button>
	</div>



