	<div id="rubricSearch">
		<h1> Create Your Degree</h1>
		<label>Degree Name Here:</label>
		<input type="text" ng-model="degreeTitle" placeholder=""/>
		<label>Degree Acronym</label>
        <input type="text" ng-model="degreeAcronym" placeholder=""/>
        <button ng-click="rubric()"> Create Rubric </button>
	</div>