	<div id="rubricSearch">
		<h1> Create Your Rubric </h1>
		<input type="text" ng-model="rubricName" placeholder="Type the title of your rubric here"/>
		<button ng-click="rubric(rubricName)"> Create Rubric </button>
	</div>