{{space}}

<div>
            <header>
                <nav>
                    <ul>
                        <li><a href="#">Current Showcase</a></li>
                        <li><a href="#">Archives</a></li>
                    </ul>
                </nav>
                <div>
                    <h2>Full Sail University Web Design and Development</h2>
                    <h1>Graduate Showcase</h1>
                </div>
            </header>
            <div>
                <aside>
                    <ul>
                        <li><a href="#">Student Name</a></li>
                        <li><a href="#">Student Name</a></li>
                        <li><a href="#">Student Name</a></li>
                        <li><a href="#">Student Name</a></li>
                        <li><a href="#">Student Name</a></li>
                    </ul>
                </aside>
                <section>
                    <div>
                        <p>We would like to invite you all to attend August 13th at 4pm</p>
                    </div>
                    <div>
                        Count down frame
                    </div>
                </section>
            </div>
            <section>
                <div>
                    <h3>Student Name</h3>
                    <p>My project is about how the...</p>
                </div>
                <div>
                    <h2>Project Highlights</h2>
                    <ul>
                        <li>node.js - I used this to...</li>
                        <li>coffee script - I used this to...</li>
                        <li>node.js - I used this to...</li>
                        <li>coffee script - I used this to...</li>
                    </ul>
                </div>
            </section>
            <div>
                <!---  Insert ideas for student presentation archives -->
            </div>
        </div>

{{markup}}