@import 'jeet'

// COLORS AND FONTS
hover = background #424242
mainColor = #38495D
secondaryColor = #377992
darkColor = #192128
lightColor = #FBF7E4
primaryFont = 'futura'
secondaryFont = 'baskerville Old Face'

edit()

body
  margin 0 1%
    
html
  +below(800px)
    background red

//MAIN STYLING
.header
    col(1/1)
    background mainColor

.logo
    col(1/2)
    
    a
      font-weight bold
      font-size 2.3em
      font-family primaryFont
      font-weight 900
      padding-left 2%
      text-decoration none
      color white

.navigation
  col(1/2)
  background mainColor
  
  .search
    input
      font-size 2em
      background white
      padding 2% 0
    
  li
    col(1/3)
    list-style-type none
    color white
    font-family primaryFont
    font-size 1.2em
    padding 2% 0
    margin-right 0px
    
  a
    color white
    font-family primaryFont
    text-decoration none
    text-align center
    font-size 1em
        
  input
    margin-left 0px
        
  ul
    col(1/1)
    margin 0px
    


// GENERATED FORM STYLING
.form
  center(500px)
  position relative
  top 90px
  padding 2%
  background #E7E8D1
  border 1px #D3CEAA solid
  border-radius 5px

  h1
    col(1/1)
    margin-top 0
    font-family 'futura'
    color mainColor
    font-weight 100
    font-size 2em
  
  label
    col(1/1)
    font-family 'futura'
  
  input
    width 96%
    padding 3% 2%
    background white
    border none
    font-family 'baskerville Old Face'
    font-size 1.2em
    margin-top 2%
    margin-bottom 5%
    
  button
    col(1/2)
    shift(1/2)
    font-size 1.75em
    font-family 'futura'
    background secondaryColor
    text-align center
    color white
    border none
    border-bottom 3px darkColor solid
    border-radius 5px
    
    
// REPEATING DIVS
.repeatContainer
  col(1/1)
    
.repeatContent
  col(1/3, cycle:3)
  border-radius 5px
  position relative
  background mainColor
  top 100px
  margin-bottom 2%
        
  h2
    col(1/1)
    padding 2%
    color white
    font-size 1.5em
    font-family primaryFont
    margin 0
    
  h4  
    col(1/1)
    padding 2%
    font-size 1em
    color white
    margin-top 0
    font-family primaryFont

    // div 
    //     padding 10px
        
.actionButtons
  col(1/3)
  shift(2/3)
  padding 2%
  
  a 
    color gray
    font-family secondaryFont
    font-size 1.2em
    margin-left 15px
    
  a:hover
    color #FFF
        
.wrapper
  margin-top 100px
    