@import 'jeet'

edit()

html
	background grey

h1
	text-align left
	margin-left 10%
	font-family arial
	
input
	margin-left 10%
	width 80%
	height 30px
	
label
	margin-left 10%
	
.createrubricbutton
	margin-left 61%
	margin-top 5%
	margin-bottom 5%
	background grey
	width 30%
	height 40px

#topheader
	col(6/6)
	
.logo
	col(1/6)

.siteheader
	col(2/6)

.searchbar
	col(3/6)
	margin-top 2%

#box
	col(4/4)

.contentbox
	col(2/4)
	background lightgrey
	margin-top 10%
	margin-left 30%

header
	center(80%)	
	
nav 
	col(1/5)
	span(1/5)
	padding-bottom:100%
	position:relative	
	background: gray
	
#logo
	center()
	
#elBody
	col(4/5)
	background: url("http://i.imgur.com/EOc88zU.png") no-repeat
	max-width:100%
	padding-bottom:100%

a
	stack()
	font-size: 2em
	padding: 10px 0px
	border-bottom:1px gray solid
	
		
h1
	col(1/2)
	color:purple
	font-size:3em

#test
	clear both
	
