body {
  margin: 0;
}
@media only screen and (max-width: 800px) {
  html {
    background: #f00;
  }
}
.header {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  background: #38495d;
}
.header:before,
.header:after {
  content: '';
  display: table;
}
.header:after {
  clear: both;
}
.header:last-child {
  margin-right: 0%;
}
.logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.logo:before,
.logo:after {
  content: '';
  display: table;
}
.logo:after {
  clear: both;
}
.logo:last-child {
  margin-right: 0%;
}
.logo a {
  font-weight: bold;
  font-size: 2.3em;
  font-family: 'futura';
  font-weight: 900;
  padding-left: 2%;
  text-decoration: none;
  color: #fff;
}
.navigation {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background: #38495d;
}
.navigation:before,
.navigation:after {
  content: '';
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation:last-child {
  margin-right: 0%;
}
.navigation .search input {
  background: #fff;
  width: 100%;
  font-size: 2em;
}
.navigation li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  list-style-type: none;
  color: #fff;
  font-family: 'futura';
  font-size: 1.2em;
  text-align: center;
  padding: 2% 0;
  margin-right: 0px;
}
.navigation li:before,
.navigation li:after {
  content: '';
  display: table;
}
.navigation li:after {
  clear: both;
}
.navigation li:last-child {
  margin-right: 0%;
}
.navigation a {
  color: #fff;
  font-family: 'futura';
  text-decoration: none;
  text-align: center;
  font-size: 1em;
}
.navigation input {
  margin-left: 0px;
}
.navigation ul {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 0px;
}
.navigation ul:before,
.navigation ul:after {
  content: '';
  display: table;
}
.navigation ul:after {
  clear: both;
}
.navigation ul:last-child {
  margin-right: 0%;
}
.form {
  *zoom: 1;
  width: auto;
  max-width: 500px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: 90px;
  padding: 2%;
  background: #e7e8d1;
  border: 1px #d3ceaa solid;
  border-radius: 5px;
}
.form:before,
.form:after {
  content: '';
  display: table;
}
.form:after {
  clear: both;
}
.form h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 0;
  font-family: 'futura';
  color: #38495d;
  font-weight: 100;
  font-size: 2em;
}
.form h1:before,
.form h1:after {
  content: '';
  display: table;
}
.form h1:after {
  clear: both;
}
.form h1:last-child {
  margin-right: 0%;
}
.form label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'futura';
}
.form label:before,
.form label:after {
  content: '';
  display: table;
}
.form label:after {
  clear: both;
}
.form label:last-child {
  margin-right: 0%;
}
.form input {
  width: 96%;
  padding: 3% 2%;
  background: #fff;
  border: none;
  font-family: 'baskerville Old Face';
  font-size: 1.2em;
  margin-top: 2%;
  margin-bottom: 5%;
}
.form button {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 51.5%;
  font-size: 1.75em;
  font-family: 'futura';
  background: #377992;
  padding: 2% 0;
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 3px #192128 solid;
  border-radius: 5px;
}
.form button:before,
.form button:after {
  content: '';
  display: table;
}
.form button:after {
  clear: both;
}
.form button:last-child {
  margin-right: 0%;
}
.form button:hover {
  margin-top: 3px;
  background: #192128;
  border-bottom: none;
}
.repeatContainer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.repeatContainer:before,
.repeatContainer:after {
  content: '';
  display: table;
}
.repeatContainer:after {
  clear: both;
}
.repeatContainer:last-child {
  margin-right: 0%;
}
.repeatContent {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  border-radius: 5px;
  position: relative;
  background: #38495d;
  top: 50px;
  margin-bottom: 2%;
}
.repeatContent:before,
.repeatContent:after {
  content: '';
  display: table;
}
.repeatContent:after {
  clear: both;
}
.repeatContent:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.repeatContent:nth-child(3n+1) {
  clear: both;
}
.repeatContent a {
  text-decoration: none;
  color: #808080;
  font-family: 'baskerville Old Face';
  font-size: 1.2em;
}
.repeatContent a:hover {
  color: #fff;
}
.repeatContent h2 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 2%;
  color: #fff;
  font-size: 1.5em;
  font-family: 'futura';
  margin: 0;
}
.repeatContent h2:before,
.repeatContent h2:after {
  content: '';
  display: table;
}
.repeatContent h2:after {
  clear: both;
}
.repeatContent h2:last-child {
  margin-right: 0%;
}
.repeatContent h4 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 2%;
  font-size: 1em;
  color: #fff;
  margin-top: 0;
  font-family: 'futura';
}
.repeatContent h4:before,
.repeatContent h4:after {
  content: '';
  display: table;
}
.repeatContent h4:after {
  clear: both;
}
.repeatContent h4:last-child {
  margin-right: 0%;
}
.repeatContent p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 2%;
  font-size: 1em;
  color: #fff;
  margin-top: 0;
  font-family: 'baskerville Old Face';
}
.repeatContent p:before,
.repeatContent p:after {
  content: '';
  display: table;
}
.repeatContent p:after {
  clear: both;
}
.repeatContent p:last-child {
  margin-right: 0%;
}
.repeatContent .actionButtons {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 2%;
}
.repeatContent .actionButtons:before,
.repeatContent .actionButtons:after {
  content: '';
  display: table;
}
.repeatContent .actionButtons:after {
  clear: both;
}
.repeatContent .actionButtons:last-child {
  margin-right: 0%;
}
.repeatContent .actionButtons a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  color: #808080;
  font-family: 'baskerville Old Face';
  font-size: 1.2em;
  text-decoration: none;
}
.repeatContent .actionButtons a:before,
.repeatContent .actionButtons a:after {
  content: '';
  display: table;
}
.repeatContent .actionButtons a:after {
  clear: both;
}
.repeatContent .actionButtons a:last-child {
  margin-right: 0%;
}
.repeatContent .actionButtons a:hover {
  color: #fff;
}
.wrapper {
  margin-top: 100px;
}
