@import 'jeet'

edit()

header
		center(80%)
	
nav
	float right
	
nav ul li
	float right
	display inline-block
	margin-left 1em
	
	header section
		
h1
	col(1/2)
	color:purple
	font-size:3em

#test
	clear both