* {
  background: rgba(0,0,0,0.05);
}
.header {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  background: #38495d;
}
.header:before,
.header:after {
  content: '';
  display: table;
}
.header:after {
  clear: both;
}
.header:last-child {
  margin-right: 0%;
}
.logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.logo:before,
.logo:after {
  content: '';
  display: table;
}
.logo:after {
  clear: both;
}
.logo:last-child {
  margin-right: 0%;
}
.logo a {
  font-weight: bold;
  font-size: 2.3em;
  font-family: 'futura';
  font-weight: 900;
  padding-left: 2%;
  text-decoration: none;
  color: #fff;
}
.navigation {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background: #38495d;
}
.navigation:before,
.navigation:after {
  content: '';
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation:last-child {
  margin-right: 0%;
}
.navigation ul {
  padding-left: 0;
}
.navigation li {
  list-style-type: none;
}
.navigation a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 2% 0;
  color: #fff;
  font-family: 'futura';
  text-decoration: none;
  text-align: center;
  font-size: 1em;
}
.navigation a:before,
.navigation a:after {
  content: '';
  display: table;
}
.navigation a:after {
  clear: both;
}
.navigation a:last-child {
  margin-right: 0%;
}
.form {
  *zoom: 1;
  width: auto;
  max-width: 500px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: 90px;
  padding: 2%;
  background: #e7e8d1;
  border: 1px #d3ceaa solid;
  border-radius: 5px;
}
.form:before,
.form:after {
  content: '';
  display: table;
}
.form:after {
  clear: both;
}
.form h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 0;
  font-family: 'futura';
  color: #38495d;
  font-weight: 100;
  font-size: 2em;
}
.form h1:before,
.form h1:after {
  content: '';
  display: table;
}
.form h1:after {
  clear: both;
}
.form h1:last-child {
  margin-right: 0%;
}
.form label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'futura';
}
.form label:before,
.form label:after {
  content: '';
  display: table;
}
.form label:after {
  clear: both;
}
.form label:last-child {
  margin-right: 0%;
}
.form input {
  width: 96%;
  padding: 3% 2%;
  background: #fff;
  border: none;
  font-family: 'baskerville Old Face';
  font-size: 1.2em;
  margin-top: 2%;
  margin-bottom: 5%;
}
.form button {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 51.5%;
  font-size: 1.75em;
  font-family: 'futura';
  background: #377992;
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 3px #192128 solid;
  border-radius: 5px;
}
.form button:before,
.form button:after {
  content: '';
  display: table;
}
.form button:after {
  clear: both;
}
.form button:last-child {
  margin-right: 0%;
}
.repeatContent {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background: #38495d;
  position: relative;
  top: 100px;
  margin-bottom: 2%;
}
.repeatContent:before,
.repeatContent:after {
  content: '';
  display: table;
}
.repeatContent:after {
  clear: both;
}
.repeatContent:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.repeatContent:nth-child(3n+1) {
  clear: both;
}
@media only screen and (max-width: 800px) {
  .repeatContent {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .repeatContent:first-child {
    margin-left: auto;
  }
  .repeatContent:last-child {
    margin-right: auto;
  }
}
.repeatContent h2 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  color: #fff;
  font-size: 1.5em;
}
.repeatContent h2:before,
.repeatContent h2:after {
  content: '';
  display: table;
}
.repeatContent h2:after {
  clear: both;
}
.repeatContent h2:last-child {
  margin-right: 0%;
}
.repeatContent h4 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 1em;
  color: #fff;
  list-style-type: none;
  margin-top: 0;
}
.repeatContent h4:before,
.repeatContent h4:after {
  content: '';
  display: table;
}
.repeatContent h4:after {
  clear: both;
}
.repeatContent h4:last-child {
  margin-right: 0%;
}
.repeatContent a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 1.3em;
  text-decoration: underline;
  text-align: right;
  color: #fff;
}
.repeatContent a:before,
.repeatContent a:after {
  content: '';
  display: table;
}
.repeatContent a:after {
  clear: both;
}
.repeatContent a:last-child {
  margin-right: 0%;
}
.repeatContent button {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 34.33333333333333%;
  font-size: 2em;
  font-family: 'futura';
  text-align: center;
  background: #377992;
  color: #fff;
  border: none;
  border-bottom: 3px #192128 solid;
  border-radius: 5px;
  padding: 2% 0;
  font-size: 1em;
}
.repeatContent button:before,
.repeatContent button:after {
  content: '';
  display: table;
}
.repeatContent button:after {
  clear: both;
}
.repeatContent button:last-child {
  margin-right: 0%;
}
.rubricTitle {
  font-family: 'futura';
  font-size: 1.5em;
  margin-bottom: 2%;
}
.rubricAcronym {
  font-family: 'futura';
  font-size: 1em;
}
